DONTADD*
_site
.sass-cache
.DS_Store
.jekyll-metadata
.ipynb_checkpoints

*.csv
*_files/
.vscode/*
# files created from converting notebooks to markdown:
regression_VS_bayesian_regression.md

# Ignore the config file that's used for gh-pages.
_config.gh-pages.yml

Gemfile.lock

