.post-content {
  font-weight: $base-font-weight;
  font-size: $base-font-size;
}

.posts {
  margin: 0;
  color: $dark-gray;
}

.posts .post {
  margin-bottom: 0.5em;
  border-bottom: thin solid #f3f3f3;
}

.posts .post:last-child {
  border-bottom: none;
  margin-bottom: .375em;
  padding-bottom: 0;
}

.post-link .post-title {
  margin-top: 0;
  font-weight: $bold-font-weight;
  color: $dark-gray;
}

.post-footer {
  @extend .italic;

  margin-top: .75rem;
  text-align: center;
}

.post-footer .avatar {
  margin: 2rem 0;
  width: 100px;
  border-radius: 50%;
}

.meta,
.post-meta {
  width: auto;
  font-weight: $base-font-weight;
  margin: 0;
  padding: .25em 0;
  color: $mid-gray;
  font-style: italic;
}

.related-post-title {
  border-bottom: thin solid #f3f3f3;
}

// new:

.article {
  font-size: 15px;
  line-height: 1.6em;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 50px;
  margin-bottom: 50px;
}
.article blockquote {
  margin: 0;
  padding: 0 1em;
  color: #777;
  border-left: 0.25em solid #ddd;
}
.article h2 {
  font-size: 26px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 1rem;
  padding-top: 1em;
}
.article .figure {
  border-top: 1px solid hsla(0, 0%, 0%, 0.2);
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.2);
  padding: 20px 0;
}
.article .figure .caption {
  padding-top: 15px;
  display: inline-block;
  font-size: 13px;
  line-height: 1.2em;
}
.article .figure .caption-label {
  font-weight: bold;
}
.article .footnote {
  line-height: 0;
}
.article div.highlight {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 13px;
  line-height: 1.3em;
}
.article ul {
  padding: 0 15px;
}
.article hr {
  border-bottom: none;
  border-top: 1px solid rgba(0, 0, 0, 0.7);
  margin: 33px auto;
  width: 70px;
}