html {
  font-size: $base-font-size;
  font-weight: $base-font-weight;
}

abbr {
  border-bottom: $abbr-border-bottom;
  cursor: help;
}

p {
  color: $dark-gray;
  line-height: $line-height;
}

small,
.small {
  font-size: 0.6rem;
}

sup {
  position: relative;
  vertical-align: middle;
  top: -0.9ex;
}
