---
layout: default
---
<div class="post">
  <header class="post-header">
    {% if page.title != "About" %}
      <h2 class="h2">{{ page.title }}</h2>
    {% endif %}
  </header>
  <article class="post-content">
  {{ content }}
  </article>
</div>

<div id="social-media" align="center">
  <a href="mailto:ramkissoon.jonathan@hotmail.com" title="Email"><i class="fa fa-envelope-square"></i></a>
  <a href="https://www.facebook.com/your-facebook-username" title="Facebook"><i class="fa fa-facebook-square"></i></a>
  <a href="https://github.com/jramkiss" title="Github"><i class="fa fa-github-square"></i></a>
  <a href="https://twitter.com/_JRamkissoon" title="Twitter"><i class="fa fa-twitter-square"></i></a>
</div>
